IOTHUB_DEVICE_CONNECTION_STRING_DOWS_LAKE=your_dows_lake_connection_string_here
IOTHUB_DEVICE_CONNECTION_STRING_FIFTH_AVE=your_fifth_ave_connection_string_here
IOTHUB_DEVICE_CONNECTION_STRING_NAC=your_nac_connection_string_here     